.btn-primary {
    background-color: #ed5c2a;
    border: #ed5c2a;
}
.btn-primary:hover {
    background-color: #bb3c10;
    border: #bb3c10;
}
.btn-primary:visited {
    background-color: #ed5c2a;
    border: #ed5c2a;
}
.btn-primary:active {
    background-color: #bb3c10;
    border: #bb3c10;
}

input.form-control {
    outline: none;

}
#print {
    float: right;
}

header {
    background-color: black;
}

footer {
    bottom: 0;
    width: 100%;
    padding: 7px;
    background-color: black;
    color: rgb(237,92,42);
    text-align: center;
    font-weight: bold;
}
.hero {
    margin: 10px 100px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    color: #f18059;
}
a:link {color:#f18059;}      /* unvisited link */
a:visited {color:#f18059;}  /* visited link */
a:hover {color:#f18059;}  /* mouse over link */
a:active {color:#f18059;}  /* selected link */
.slet {
    color: darkred;
}
.slet:visited {
    color:darkred;
}
.slet:hover {
    color:darkred;
}
.slet:active {
    color:darkred;
}
