<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dagens Dato</title>
</head>
<body>

<div th:each="kunde :${udvalgtbooking}">

    <p>Navn</p>
    <span th:text="${kunde.Navn}"/>
    <p>Telefonnummer</p>
    <span th:text="${kunde.TelefonNummer}"/>
    <p>Dato</p>
    <span th:text="${kunde.Dato}"/>
    <p>Pax</p>
    <span th:text="${kunde.Pax}"/>
    <p>Tid</p>
    <span th:text="${kunde.Tid}"/>
    <p>Varighed</p>
    <span th:text="${kunde.Varighed}"/>
    <p>Evt, Kommentar</p>
    <span th:text="${kunde.Kommentar}"/>

</div>
</body>
</html>
