<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opdater Gokarts</title>
</head>
<body>
    <form action="/opdaterGokarts" method="post">

        <label>Gokart </label><span th:text="${gokart.GokartID}"/>
        <input type="hidden" name="gokartID" th:value="${gokart.GokartID}">
        <input type="text" name="reperation" th:value="${gokart.Reperation}">

        <button type="submit">Opdatér & Gem</button>

    </form>
</body>
</html>