<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opdater Booking</title>
</head>
<body>

    <form action="/opdaterBooking" method="post">

        <input type="tel" name="TelefonNummer" th:value="${kunde.telefonNummer}">
        <input type="date" name="Dato" th:value="${kunde.dato}">
        <input type="time" name="Tid" th:value="${kunde.tid}">
        <input type="number" min="30" step="30" th:value="${kunde.varighed}">
        <input type="number" name="Pax" min="1" th:value="${kunde.pax}">
        <input type="text" name="Kommentar" th:value="${kunde.kommentar}">
        <input type="text" name="Navn" th:value="${kunde.Navn}">
        <input type="email" name="email" th:value="${kunde.email}">
        <input type="text" name="firmaNavn" th:value="${kunde.firmaNavn}">

        <button type="submit">Opdatér & Gem</button>

    </form>

</body>
</html>