<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opdater Booking</title>
    <!-- Importerer jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>

<!-- looper igennem liste af kunder i kunde oprettet i controller -->
<div th:each="kunde :${kunde}">
    <!-- indtast den nye ønsket data -->
    <form action="/opdaterBooking"  method="post" id="booking-form">

        <label>Tid: </label>
        <input type="time" name="Tid" th:value="${kunde.tid}">
        <label>Varighed: </label>
        <input type="number" name="Varighed" min="30" step="30" th:value="${kunde.varighed}">
        <label>Pax: </label>
        <input type="number" name="Pax" min="1" th:value="${kunde.pax}">
        <label>Kommentar: </label>
        <input type="text" name="Kommentar" th:value="${kunde.kommentar}">
        <input type ="hidden" name="Telefonnummer" th:value="${kunde.telefonnummer}">
        <label>Dato: </label>
        <input type="date" name="Dato" th:value="${kunde.dato}">

        <button type="submit">Opdatér & Gem</button>
    </form>
</div>
</body>
</html>
