<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opdater Medarbejder</title>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/main.css}">

</head>
<header class="header" onclick="window.location.href = '/';">
    <img th:src="@{img/RRClogo.png}">
</header>
<body>
<div class="hero">
<form action="/opdaterMedarbejder" method="post">
    <div class="form-group">

        <label>Telefonnummer</label>
        <br>
        <input type="tel" name="maTelefonNummer" th:value="${medarbejder.maTelefonNummer}" class="form-control">
        <br>
        <br>
        <label>Navn</label>
        <br>
        <input type="text" name="maNavn" th:value="${medarbejder.maNavn}" class="form-control">
        <br>
        <br>
        <label>E-mail</label>
        <br>
        <input type="email" name="maEmail" th:value="${medarbejder.maEmail}" class="form-control">
        <br>

        <button type="submit" class="btn btn-primary">Opdatér & Gem</button>

    </div>
</form>

<!-- JavaScript til Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>
</body>
<footer class="footer">
    <p class="company-info">Tlf: +45 70 25 00 86 &emsp; | &emsp; E-mail: info@roskilderacingcenter.dk</p>
</footer>
</html>
