<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Booking</title>
</head>
<body>
<form action="/opretBooking" method="post">

    <!-- Hentet kunde data  -->
    <label>Navn: </label>
    <input type="text" name="Navn" th:value="${kunde.Navn}">
    <label>Telefonnummer: </label>
    <input type="tel" name="telefonnummer" th:value="${kunde.telefonnummer}" >
    <label>Email: </label>
    <input type="email" name="email" th:value="${kunde.email}">
    <label>Firmanavn: </label>
    <input type="text" name="firmaNavn" th:value="${kunde.firmaNavn}">

    <!-- indtast booking data -->
    <label>Dato: </label>
    <input type="date" name="dato">
    <label>Tid: </label>
    <input type="time" name="tid">
    <label>Varighed: </label>
    <input type="number" name="varighed" min="30" step="30" placeholder="Varighed">
    <label>Pax: </label>
    <input type="number" name="pax" min="1" placeholder="Antal personer">
    <label>Eventuel Kommentar: </label>
    <input type="text" name="kommentar" placeholder="Eventuel kommentar">

    <button type="submit">Opret booking</button>

</form>
</body>
</html>
