<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Medarbejder</title>
</head>
<body>
<form action="/opretMedarbejder" method="post">
    <input type="text" name="maNavn" placeholder="indtast dit navn">
    <input type="tel" name="maTelefonNummer" placeholder="indtast telefonnummer">
    <input type="email" name="maEmail" placeholder="indtast E-mail">

    <button type="submit">Opret Medarbejder</button>

</form>
</body>
</html>
