<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Opret Booking</title>
</head>
<body>

<form action="/opretBooking" method="post">


    <input type="tel" name="telefonNummer" th:value="${kunde.telefonNummer}" >
    <input type="text" name="Navn" th:value="${kunde.Navn}">
    <input type="email" name="email" th:value="${kunde.email}">
    <input type="text" name="firmaNavn" th:value="${kunde.firmaNavn}">

    <input type="date" name="dato" placeholder="Vælg dato">
    <input type="time" name="tid" placeholder="tidspunkt">
    <input type="number" min="30" step="30" placeholder="Varighed">
    <input type="number" name="pax" min="1" placeholder="Antal personer">
    <input type="text" name="kommentar" placeholder="Eventuelle kommentar">

    <button type="submit">Opret booking</button>

</form>

</body>
</html>