<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Se bookinger</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Importerer jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>
<body>
<!-- form med inputfelt til ønskede dato for bookninger -->
<form id="dato-form">
    <input type="date" id="input-valg-dato" name="valgtDato" placeholder="vælg ønsklet dato">
    <button type="submit" class="btn btn-primary">Find Bookinger</button>
</form>
<!-- jQuery function der gemmer den valgt dato til brug i url linket til genindlæs siden -->
<script>
    // $ er jQuery referencen
    // parameter er id på ønsket element
    $( "#dato-form" ).submit( function() {
        //.val() getter value fra input element
        var value = $( "#input-valg-dato" ).val();
        var url = "/seBookinger/" + value;
        window.location.href = url;
        return false;
    } );
</script>

<!-- Print Funktion -->
<button onclick="myFunction()" class="btn btn-primary">Print bookinger</button>
<script>
    function myFunction() {
        window.print();
    }
</script>

        <!-- Viser bookinger med den udvalgt dato -->
            <table class="table">
            <thead>
            <tr>
                <th>Tid</th>
                <th>Varighed</th>
                <th>Pax</th>
                <th>Navn</th>
                <th>Telefonnummer</th>
                <th>Kommentar</th>
                <th>Dato</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <!-- looper igennem liste af kunder i udvalgtbooking oprettet i controller -->
            <div th:each="kunde :${udvalgtbooking}">
            <tbody>
            <tr>
                <td th:text="${kunde.Tid}"></td>
                <td th:text="${kunde.Varighed}"></td>
                <td th:text="${kunde.Pax}"></td>
                <td th:text="${kunde.Navn}"></td>
                <td th:text="${kunde.Telefonnummer}"></td>
                <td th:text="${kunde.Kommentar}"></td>
                <td th:text="${kunde.Dato}"></td>
                <td><a th:href="@{'/opdaterBooking/' + ${kunde.Telefonnummer} + '/' + ${kunde.dato}}"> Opdater Booking</a></td>
                <td><a th:href="@{'/slet/' + ${kunde.Telefonnummer} + '/' + ${kunde.dato}}"onclick="return confirm('Tryk OK for at slette booking!');"> Slet booking</a></td>
            </tr>
            </tbody>
            </div>
            </table>

<!-- JavaScript til Bootstrap: jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
