<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Se Medarbjeder</title>
</head>
<body>

<a href="/opretMedarbejder">Opret Medarbejder</a>

<p th:each="medarbejder :${medarbejderInfo}">

    <span th:text="${medarbejder.maNavn}"/>
    <span th:text="${medarbejder.maTelefonNummer}"/>
    <span th:text="${medarbejder.maEmail}"/>

    <a th:href="@{'/opdaterMedarbejder/' + ${medarbejder.maTelefonNummer}}"> Opdater medarbejder</a>
    <a th:href="@{'/sletMedarbejder/' + ${medarbejder.maTelefonNummer}}" onclick="return confirm('Tryk OK for at slette medarbejder!');"> Slet medarbejder</a>

</body>
</html>
